<h1> <%= @recipe.name %> </h1>
<h1> <%= @recipe.ingredients %> </h1>
<h1> <%= @recipe.cook_time %> </h1>
<br>

<a href="/recipes/<%= @recipe.id %>/edit">Edit Recipe</a>
<br>

<form action="/recipes/<%= @recipe.id %>" method="POST">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete">
</form>

<a href="/recipes">Back to all Recipes</a>