<h1>This is where we show just one recipe</h1>

<h3>Recipe name: <%= @recipe.name %></h3>
<h3>Recipe ingredients: <%= @recipe.ingredients %></h3>
<h3>Cook time: <%= @recipe.recipe_cook_time %></h3>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete this recipe">
</form>

<h3><a href="/recipes/<%= @recipe.id%>/edit">Edit this recipe</a></h3>
<h3><a href="/recipes/new">Create another recipe</a></h3>
<h3><a href="/recipes">See all recipes</a><h3>
<h3><a href="/">Back to homepage</a></h3>